{% extends 'base.html' %}

{% block content %}

<style>

   .myavatar{
      width:200px;
      height:200px;
      }
</style>
<div class="row">

   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post", action="{% url 'updateProfile' %}" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="row">
                  <div class="col-12">
                     <h5 class="form-title"><span>Profile Information</span></h5>
                  </div>
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" class="form-control" value="{{user.username}}" readonly>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label> FirstName </label>
                        <input name="first_name" type="text" class="form-control" value="{{user.first_name}}">
                     </div>
                  </div>
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>LastName</label>
                        <input name="last_name" type="text" class="form-control" value="{{user.last_name}}">
                     </div>
                     <div class="form-group">
                        <label>Confirm Password</label>
                        <input name="password" type="password" class="form-control" >
                     </div>
                     <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="text" class="form-control" value="{{user.email}}" readonly>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="text-center">
                       <img src=" /{{user.profile_pic}} " class="myavatar img-circle img-thumbnail" alt="avatar">
                       
                       <div class="form-group">
                        <input type="file" name="profile_pic" class="form-control" value="">
                     </div>
   
                     </div>
                   </div>
                   
                  <div class="col-12">
                     <button type="submit" class="btn btn-success">Update Profile</button>
                     <button type="submit" class="btn btn-danger"><a href=" {% url "changePassword" %} ">Change Password</a></button>
                    
                     
                     {% include "message.html" %}
                     
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}